<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>X7SdbomKpFGJvxxpLs8N1ggVT</string>
	<key>API_SECRET</key>
	<string>J1TqaQftTCOy1xuTr0QYvYrRr71hCILRSR6QMdQyuW53r4OfSs</string>
</dict>
</plist>
